.sticky-note {
  display: inline-block;
  width: 234px;
  margin: 16px;
  padding: 5px;
  height: 218px ;
  color:#000;
  background:#ffc;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  border-radius: 10px 58px 12px 0px;
}

.sticky-note input[type=text] {
  font-size:22px;
  font-weight:bold;
  padding:10px;
  border: none;
  background: none;
  width: 215px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sticky-note textarea {
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:14px;
  padding: 10px;
  border: 0;
  background: 0;
  width: 100%;
  height: 72%;
  resize: none;
}


.sticky-note-selected {
  box-shadow: 5px 5px 7px rgba(121, 32, 5, 0.62);
  border-radius: 0;
}
